/*$font-stack:;*/
/* Grey Color*/
/* Silver Color */
/* Green Color */
/* Dark Grey Color */
/* White. Used on elements that would otherwsie show the background image. */
/* Footer Color Scheme */
/*Global Style*/
/* line 13, ../scss/_general.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 15, ../scss/_general.scss */
hr {
  background-color: #cccccc;
  color: #cccccc;
  border-color: #cccccc;
  height: 1px;
  border: none;
  margin: 1em 0;
}

/*Float Elements */
/* line 18, ../scss/_general.scss */
.left {
  float: left;
}

/* line 19, ../scss/_general.scss */
.right {
  float: right;
}

/* line 20, ../scss/_general.scss */
.clear {
  clear: both;
}

/* Links */
/* line 23, ../scss/_general.scss */
a {
  color: #666666;
}

/* line 24, ../scss/_general.scss */
a:hover {
  text-decoration: none;
  color: #666666;
}

/*Spacing Element*/
/* line 27, ../scss/_general.scss */
.small-padding {
  padding: 0.5ex;
}

/* line 28, ../scss/_general.scss */
.small-margin {
  margin: 0.5ex;
}

/* line 29, ../scss/_general.scss */
.medium-padding {
  padding: 1ex;
}

/* line 30, ../scss/_general.scss */
.medium-margin {
  margin: 1ex;
}

/* line 31, ../scss/_general.scss */
.large-padding {
  padding: 1.5ex;
}

/* line 32, ../scss/_general.scss */
.large-margin {
  margin: 1.5ex;
}

/* line 33, ../scss/_general.scss */
.vert-padding-small {
  padding: 0.5ex 0;
}

/* line 34, ../scss/_general.scss */
.vert-padding-medium {
  padding: 1ex 0;
}

/* line 35, ../scss/_general.scss */
.vert-padding-large {
  padding: 1.5ex 0;
}

/* line 36, ../scss/_general.scss */
.vert-margin-small {
  margin: 0.5ex 0;
}

/* line 37, ../scss/_general.scss */
.vert-margin-medium {
  margin: 1ex 0;
}

/* line 38, ../scss/_general.scss */
.vert-margin-large {
  margin: 1.5ex 0;
}

/*Alignment*/
/* line 42, ../scss/_general.scss */
.centerdiv {
  text-align: center;
}

/* line 43, ../scss/_general.scss */
.leftdiv {
  text-align: left;
}

/* line 44, ../scss/_general.scss */
.rightdiv {
  text-align: right;
}

/* line 45, ../scss/_general.scss */
.justify {
  align: justify;
}

/* line 46, ../scss/_general.scss */
.center-align {
  align: center;
  margin: 0 auto;
}

/* Adding Borders */
/* line 49, ../scss/_general.scss */
.thin-dark-bord {
  border: 0.25em solid #333333;
}

/* line 50, ../scss/_general.scss */
.thick-dark-bord {
  border: 0.75em solid #333333;
}

/* line 51, ../scss/_general.scss */
.thin-light-bord {
  border: 0.25em solid #cccccc;
}

/* Text and Font */
/* line 54, ../scss/_general.scss */
p {
  font-size: 100%;
}

/* line 55, ../scss/_general.scss */
.small-p {
  font-size: 80%;
}

/* line 56, ../scss/_general.scss */
.bold {
  font-weight: 600;
}

/* Image Control */
/* line 59, ../scss/_general.scss */
.full-width {
  max-width: 100%;
  min-width: 100%;
}

/* line 60, ../scss/_general.scss */
.fit-width {
  max-width: 100%;
}

/* line 61, ../scss/_general.scss */
.img-center {
  display: block;
  margin: 0 auto;
}

/* Image Style */
/* line 64, ../scss/_general.scss */
.allow-room {
  max-width: 90%;
  margin: 0px auto;
}

/* This is included to allow room for a border without affecting the grid */
/* line 2, ../scss/style.scss */
.container {
  max-width: 1000px;
  background-color: white;
}

/* line 5, ../scss/style.scss */
h1 {
  font-size: 3.5em;
}

/* line 8, ../scss/style.scss */
#search {
  margin-top: 2em;
}

/* line 10, ../scss/style.scss */
.gray-txt {
  color: #bbb;
}

/* line 14, ../scss/style.scss */
#results {
  margin-top: 2em;
}
/* line 17, ../scss/style.scss */
#results li {
  margin-top: 1em;
  border: 4px solid #333333;
  background-color: #eee;
}
/* line 23, ../scss/style.scss */
#results li div h2 {
  color: #333;
}
/* line 24, ../scss/style.scss */
#results li div h4 {
  color: #666;
}

/* line 29, ../scss/style.scss */
.form-link-button {
  margin: 1em;
  border-radius: 5px;
  padding: 0.5em;
  top: -50px;
  position: relative;
  height: 50px;
  width: 100px;
  font-weight: bolder;
}
