/*$font-stack:;*/
$primary-font-color: #666666; /* Grey Color*/
$light-color: #CCCCCC; /* Silver Color */
$highlight-color: #8dc43f; /* Green Color */
$dark-color: #333333; /* Dark Grey Color */
$bg-color: #ffffff; /* White. Used on elements that would otherwsie show the background image. */

/* Footer Color Scheme */
$foot-dark-color: #4D6B85;


/*Global Style*/
*{ margin:0px; padding:0px; }
// body{background-image: url('../img/bg.png');}
hr{background-color:$light-color; color:$light-color; border-color:$light-color; height:1px; border:none; margin:1em 0;}

/*Float Elements */
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

/* Links */
a{color:$primary-font-color;}
a:hover{text-decoration:none;color:$primary-font-color;}

/*Spacing Element*/
.small-padding{padding:0.5ex;}
.small-margin{margin:0.5ex;}
.medium-padding{padding:1ex;}
.medium-margin{margin:1ex;}
.large-padding{padding:1.5ex;}
.large-margin{margin:1.5ex;}
.vert-padding-small{padding:0.5ex 0;}
.vert-padding-medium{padding:1ex 0;}
.vert-padding-large{padding:1.5ex 0;}
.vert-margin-small{margin:0.5ex 0;}
.vert-margin-medium{margin:1ex 0;}
.vert-margin-large{margin:1.5ex 0;}


/*Alignment*/
.centerdiv{text-align:center;}
.leftdiv{text-align:left;}
.rightdiv{text-align:right;}
.justify{align:justify;}
.center-align{align:center; margin:0 auto;}

/* Adding Borders */
.thin-dark-bord{border:.25em solid $dark-color;}
.thick-dark-bord{border:.75em solid $dark-color;}
.thin-light-bord{border:.25em solid $light-color;}

/* Text and Font */
p{font-size:100%;}
.small-p{font-size:80%;}
.bold{font-weight:600;}

/* Image Control */
.full-width{max-width:100%;min-width:100%;}
.fit-width{max-width:100%;}
.img-center{display:block; margin:0 auto; }

/* Image Style */
.allow-room{max-width:90%; margin:0px auto;} /* This is included to allow room for a border without affecting the grid */

