﻿@import "general";
.container{max-width:1000px; background-color: $bg-color;}
.list-group-item{}

h1 {
	font-size: 3.5em;
}
#search { margin-top: 2em; }

.gray-txt { color: #bbb; }

$knockout-border: 4px solid #333;

#results {
	margin-top: 2em;

	li { 
		margin-top: 1em;
		border: $knockout-border;
		background-color: #eee;

		div {
			h2 { color: #333; }
			h4 { color: #666; }
		}
	}
}

.form-link-button {
	margin: 1em;
	border-radius: 5px;
	padding: 0.5em;
	top:-50px;
	position:relative;
	height:50px;
	width:100px;
	font-weight:bolder;

}

