﻿<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Searchable Forms</title>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="AppController">

<header class="row">
  <div class="center-align container">
    <div class="col-sm-6">
      <h1>Form Directory</h1>
    </div>
    <div class="col-sm-6">
      <form role="form">
        <input ng-model="query" placeholder="Search for Forms" class="form-control" id="search" autofocus>
      </form>
      <h5 class="gray-txt">Type in your filter criteria in the searchbox. Try using the least amount of keywords possible. For instance, if you're looking for the PUNCH PROBLEM try typing "punch" in the box (no quotes)</h5>
    </div>
  </div><!-- /centered container -->
</header>

<div class="center-align container">
  <ul class="list-group" id="results">
    <li class="list-group-item" ng-repeat="items in forms | filter: query">
      <div>
        <h2>{{items.name}}</h2>
        <h4>{{items.description}}</h4>
        <h6>{{items.category}}</h6>
        <a href="{{items.link}}"><button class="pull-right form-link-button btn btn-default">
          Launch Form
        </button></a>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div><!-- /centered container -->

<footer>
  <div class="center-align container">
  	<div class="col-sm-6">
  		Left Footer Content
  	</div>
  	<div class="col-sm-6 rightdiv">
  		<a href="http://www.zmgdesigns.com" target="_blank"><img src="img/logo_red.png" alt="Designed by ZMG Designs"></a>
  	</div>
  </div><!-- /centered container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>